<div class="box">
  <%= link_to image_tag(pin.image(:thumb)), pin %>
  <p class="description">
  	<%= pin.description %>
	</p>
  <% if current_user == pin.user %>
	  <p>
		  <%= link_to 'Edit', edit_pin_path(pin), class: "btn" %>
		  <%= link_to 'Delete', pin, class: "btn btn-danger btn-small", method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %>
</div>