<div class="center hero-unit">
	<h1>Welcome to One Month Rails by CravingStef!</h1>
	<p>
		This is my home page for my 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
		project. By <a href="http://twitter.com/CravingStef"> CravingStef. </a>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %> 
	</p>
</div>